body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #000;
    letter-spacing: normal;
    width: 100%;
    height: 100%;
    min-height: 700px;
    margin: 0 auto;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.banner-text {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 20px;
    text-align: center;
    line-height: 40px;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
}

.logo {
    max-width: 300px;
    margin: auto
}

.social {
    max-width: 300px;
    margin: auto;
}

.social .icon {
    width: 50px;
    height: 50px;
    margin: 22px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.icon.facebook {
    background: url('assets/facebok.svg');
}

.icon.facebook:hover {
    background: url('assets/facebok-full.svg');
}

.icon.instagram {
    background: url('assets/instagram.svg');
}

.icon.instagram:hover {
    background: url('assets/instagram-full.svg');
}

.icon.twitter {
    background: url('assets/twitter.svg');
}

.icon.twitter:hover {
    background: url('assets/twitter-full.svg');
}

.quote {
    width: 100%;
    max-width: 915px;
    margin: auto;
    text-align: center;
    font-size: 50px;
}

.quote > div {
    display: inline-block;
    max-width: 300px;
    vertical-align: middle;
    margin: 50px 10px;
}

@media (max-width: 800px) {
    .quote > div {
        margin: 20px 70px;
        width: 100%;
    }
}

.quote-plus {
    font-size: 50px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.donate-now {
    width: 200px;
    height: 30px;
    background: #000;
    color: #fff;
    font-size: 25px;
    margin: 30px auto;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.small-para {
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
}

.social div {
    font-size: 15px;
}

small {
    font-size: 30px;
}

.social div {
    text-align: center;
}

a {
    color: #000;
    margin: 10px;
    display: block;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media (max-width: 700px) {
    .modal-content {
        width: 90%;
    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 40px;
    padding: 8px;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #000;
    color: white;
}

.modal-body {
    padding: 16px;
}

div {
    padding: 0 10px;
}
